/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 juin 2016, 14:07:21
    Author     : admin
*/

.ligne_paire{
    background-color: lightblue;
}

.ligne_impaire{
    background-color: lightgreen;
}