<!DOCTYPE html>
<html ng-app="monApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>AngularJS v1</title>
        <script src="JS/angular.js" type="text/javascript"></script>
        <script>
            var app = angular.module('monApp', []);

            app.controller("menuController", ['$scope', '$http', function ($scope, $http) {

                    $scope.animaux = [];

                    $scope.dateJour = new Date();

                    $scope.ajouter = function(){
                        $scope.animaux.push($scope.nouvelAnimal);
                        $scope.nouvelAnimal = null;
                    }

                    $scope.chargerJSON = function(){
                        $http({method: 'GET', url: 'JSON/animaux.json'}).then(function callbackOK(data){
                            $scope.animaux = data.data;
                        });
                    };
                    
                    $scope.chargerJSON();
                }]);
        </script>
    </head>
    <body ng-controller="menuController">
        
        Nouveau nom: <input type="text" ng-model="nouvelAnimal.nom"/>
        Nouveau type: 
        <select ng-model="nouvelAnimal.type">
            <option value="CHIEN">CHIEN</option>
            <option value="CHAT">CHAT</option>
            <option value="CHEVRE">CHEVRE</option>
        </select>
        
        <input type="button" value="Ajouter" ng-click="ajouter();"/>
        <br/>
        <br>
        Tableau des animaux:
        <table>
            <tr ng-repeat="a in animaux ">
                <td>{{ a.nom }}</td>
                <td>{{ a.type }}</td>
            </tr>
        </table>
        <br/>
        <br>
        <div>
            <div ng-include="'_zone_films.html'"></div>
            Version JSON : à copier dans JSON/animaux.json
            <br>
            {{ animaux }}
        </div>
        <br>
    </body>
</html>